html{
    font-size: 62.5%;
    
}

body{
   
    font-family: 'Poppins';
    margin: 0 auto;
    max-width: 900px;
}

/* START PAGE [1] */

.start-pg {
    
    border-radius: 1.6em;
    padding: 5.0em;
   
    gap: 3em;
    margin: 10em;
    display: grid;
    
    place-items: center;
    
}


.head-text{
    text-align: center;
    margin: 0;
    font-size:4.0rem;
    color: rgb(245, 129, 62);
}

.sub-text{
    text-align: center;
    margin: 0;
    font-size:1.5rem;
    font-weight:500;
    color:grey;

}

.btn{
    font-size: 1.0rem;
    border: none;
    border-radius: 0.5em;
    background-color: rgb(245, 129, 62);
    color:rgb(255, 255, 255);
    font-weight:500;
    font-family: 'Poppins';
    padding-left: 1.3em;
    padding-right: 1.3em;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    cursor: pointer;
    margin: 0.5em;
}

.btn:hover{
    background-color: rgb(240, 163, 118);
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 0.9em;
   
}




/* Q/A PAGE [2] */

.ques{
    text-align: center;
    margin: 0;
    color: rgb(83, 83, 83);
    font-size: 2rem;
}

.total , .score{
    font-size: 1.3rem;
    margin: 0;
    color: gray;
    font-weight: 500;
}

.qna-pg{
    border-radius: 1.6em;
    padding: 5.0em;
   
    gap: 2.0em;
    margin: 10em;
    display: grid;
    place-items: center;
}

.score-box{
    display: flex;
    gap: 35em;
}

.head{
    display: grid;
    place-items: center;
    gap: 3.0em
}

.options{
    gap:2em;
    display: grid;
    margin: 2.2em;
  
}




.option{
    cursor: pointer;
    box-sizing: border-box;
    padding: 1em;
    border: .2em solid rgb(255, 219, 198);
    border-radius: .5em;
    height: 4em;
    width: 50em ;
    background-color: rgb(255, 229, 214);

}

.option:hover {

    background-color: rgb(253, 206, 179);
    
  
}

.ans{
    
    text-align: center;
    color: rgb(99, 99, 99);
    font-weight: 500;
    padding: .3em;
    font-size: 1.3rem;
}

.option.true{
    background-color: rgb(169, 255, 169);
    border-color: rgb(123, 190, 123);
}


.option.false{    
    background-color: rgb(255, 202, 202);
    border-color: rgb(221, 126, 126);
}

.disabled {
  opacity: 0.6;
}

.progress{
    border-radius: 1em;
    height: 1em;
    width: 30em ;
    max-width: 50em;
    background-color: rgb(245, 129, 62);

}

.progress-bar {
    margin: .1em;
    border-radius: 1em;
    height: 1em;
    width: 50em ;
    background-color: rgb(255, 229, 214);

}


/* END - PAGE [3] */

.end-pg{
    border-radius: 1.6em;
    padding: 5.0em;
    
    gap: 3em;
    margin: 10em;
    display: grid;
    
    place-items: center;
}

.feedback{
    margin: 0;
    font-size: 1.9rem;
    color:  rgb(245, 129, 62);
}

.resultdata{
    display: grid;
    gap: 0.6em;
    text-align: center;
    
}


/* SCREEN */

.start-pg{
    display: none;
}

.start-pg.active{
    display: grid;
}

.qna-pg{
    display: none;
}

.qna-pg.active{
    display: grid;
}

.end-pg{
    display: none;
}

.end-pg.active{
    display: grid;
}